<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="Angular/angular.min.js"></script>
    <style>
        input.ng-pristine { background-color: yellow; }
        input.ng-touched.ng-invalid { background-color: red; }
        input.ng-touched.ng-valid { background-color: green; }
    </style>
</head>
<body ng-app>
<form name="studentForm" novalidate class="student-form">
    <label for="firstName">First Name: </label><br>
    <input type="text" name="firstName" ng-model="firstName" ng-required="true">
    <br><br>
    <label for="lastName">Last Name: </label><br>
    <input type="text" name="lastName" ng-model="lastName" ng-required="true">
    <br><br>
    <label for="dob">E-mail</label><br>
    <input type="email" id="email" ng-model="email" name="email" ng-required="true">
    <br><br>
    <input type="submit" value="Submit"><br>
    <p>???</p>
</form>
</body>
</html>